*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}

body{
	font-size:14px;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
}


.holder{
	/* Contains the webpage screenshot */
	margin:10px;
	width:335px;
	position:relative;
}

.retina{
	/* The Retina effect */
	background:url('img/psbe.jpg') no-repeat center center ;
	border:2px solid white;

	/* Positioned absolutely, so we can move it around */
	position:absolute;
	height:120px;
	width:120px;

	/* Hidden by default */
	display:none;

	/* A blank cursor, notice the default fallback */
	cursor:crosshair;
	
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	-webkit-box-shadow:0 0 5px #777;
	box-shadow:0 0 5px #777, 0 0 10px #aaa inset;
	
	/* CSS3 rounded corners */
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	border-radius:200px;
	
	/*behavior: url(ie-css3.htc);*/
	}

#main{
	/* The main div */
	margin:40px auto;
	padding:0 20px;
	position:relative;
	width:800px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.retinaContainer{
	background:#fff;
	padding:5px;
	margin:50px 0;
	
	margin:40px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}

.retinaContainer .desc{
	float:right; display:block;
	width:400px;
	margin:10px
}

.retinaContainer .desc h2{
	margin-bottom:10px; color:#333;
}

/* The styles below are only needed by the demo page */

h1{
	padding:30px 0;
	text-align:center;
	margin:40px 0 30px;
	font-size:44px;
	color:white;
	font-weight:normal;
}

h2{
	font-weight:normal;
	text-align:center;
}

h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

p.credit{
	text-align:center;
	margin:50px;
}

p.credit a{
	color:#707070;
	font-size:10px;
	text-decoration:none;
	border-bottom:1px dotted;
}

p.credit a:hover{
	border:none;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}